<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Player</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        a , #btn {
            color: #000000;
        }
    </style>
</head>

<body>



<div class="container">
    <h1>Edit Player</h1>
    <br>
    <div class="row">

        <div class="col-md-6">
            <form action="/players/<%=player._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Player Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Player Name" value="<%=player.name%>">
                </div>
                <div class="form-group">
                    <label for="fanName">Fan Name</label>
                    <input type="text" class="form-control" id="fanName" name="fanName" placeholder="Enter Fan Name" value="<%=player.fanName%>">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Enter Player Country" value="<%=player.country%>">
                </div>

                <div class="form-group">
                    <label for="position">Position </label>
                    <select class="form-control" id="position" name="position" value="<%=player.position%>" >
                        <option value="">Select Preferred Player Position</option>
                        <option value="GoalKeeper" <%=player.position === 'GoalKeeper' ? 'selected': '' %>>GoalKeeper </option>
                                                    <option value="Center Back" <%=player.position === 'Center Back' ? 'selected': '' %>>Center Back</option>
                                                    <option value="Left Back" <%=player.position === 'Left Back' ? 'selected': '' %>>Left Back</option>
                                                    <option value="Right Back" <%=player.position === 'Right Back' ? 'selected': '' %>>Right Back</option>
                                                    <option value="Center Midfielder" <%=player.position === 'Center Midfielder' ? 'selected': '' %>>Center Midfielder</option>
                                                    <option value="Left Midfielder" <%=player.position === 'Left Midfielder' ? 'selected': '' %>>Left Midfielder</option>
                                                    <option value="Right Midfielder" <%=player.position === 'Right Midfielder' ? 'selected': '' %>>Right Midfielder</option>
                                                    <option value="Center Forward" <%=player.position === 'Center Forward' ? 'selected': '' %>>Center Forward</option>
                                                    <option value="Left Forward" <%=player.position === 'Left Forward' ? 'selected': '' %>>Left Forward</option>
                                                    <option value="Right Forward" <%=player.position === 'Right Forward' ? 'selected': '' %>>Right Forward</option>
                                                    <option value="Second Striker" <%=player.position === 'Second Striker' ? 'selected': '' %>>Second Striker</option>
                                                    <option value="Left Wing" <%=player.position === 'Left Wing' ? 'selected': '' %>>Left Wing</option>
                                                    <option value="Right Wing" <%=player.position === 'Right Wing' ? 'selected': '' %>>Right Wing</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="averageRatings">Average Ratings 2021/2022 Season</label>
                    <input type="text" class="form-control" id="averageRatings" name="averageRatings" value="<%=player.averageRatings%>" placeholder="Enter Average Ratings" min="0" max="100">
                </div>



                <div class="form-group">
                    <label for="teamStatus">Player Status</label>
                    <select class="form-control" id="teamStatus" name="teamStatus">
                        <% for (let selection of teamStatus) { %>
                        <option value="<%=selection%>"><%=selection%></option>
                        <% } %>

                    </select>
                </div>

                <div class="form-group">
                    <label for="fanPerformanceMeter">Fan Performance</label>
                    <input type="range" class="form-control" id="fanPerformanceMeter" name="fanPerformance" value="<%=player.fanPerformanceMeter%>" min="0" max="100">

                </div>




                <div class="form-group">
                    <label for="nominateFanCategory">Nominated Category</label>
                    <select class="form-control" id="nominateFanCategory" name="nominateFanCategory">
                        <% for (let selection of nominateFanCategory) { %>
                        <option value="<%=selection%>"><%=selection%></option>
                        <% } %>

                    </select>
                </div>

                <button style="float: right;" type="submit" class="btn btn-primary" id="btn">Submit</button>



            </form>

            <a href="/players">View All United Players</a>
            <br>
            <br>
            <a href="/players/<%=player._id%>" class="btn btn-danger" id="btn">Cancel</a>

        </div>
    </div>
</div>




</body>

</html>