<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Player</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        a , #btn {
            color: #e50000;
        }
    </style>
</head>

<body>






    <div class="container">
        <h1>Add A New Player</h1>
        <br>
        <div class="row">

            <div class="col-md-6">
                <form action="/players" method="POST">
                    <div class="form-group">
                        <label for="name">Player Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Player Name">
                    </div>
                    <div class="form-group">
                        <label for="fanName">Fan Name</label>
                        <input type="text" class="form-control" id="fanName" name="fanName" placeholder="Enter Fan Name">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Enter Player Country">
                    </div>

                    <div class="form-group">
                        <label for="position">Position</label>
                        <select class="form-control" id="position" name="position">
                            <option value="">Select Preferred Player Position</option>
                            <option value="Goalkeeper">Goalkeeper</option>                            <option value="Goalkeeper">Goalkeeper</option>
                            <option value="Center Back">Center Back</option>
                            <option value="Left Back">Left Back</option>
                            <option value="Right Back">Right Back</option>
                            <option value="Defensive Midfield">Defensive Midfield</option>
                            <option value="Central Midfield">Central Midfield</option>
                            <option value="Left Midfield">Left Midfield</option>
                            <option value="Right Midfield">Right Midfield</option>
                            <option value="Attacking Midfield">Attacking Midfield</option>
                            <option value="Left Wing">Left Wing</option>
                            <option value="Right Wing">Right Wing</option>
                            <option value="Center Forward">Center Forward</option>
                            <option value="Left Forward">Left Forward</option>
                            <option value="Right Forward">Right Forward</option>
                        </select>


                    </div>
                    <div class="form-group">
                        <label for="averageRatings">Average Ratings 2021/2022 Season</label>
                        <input type="number" class="form-control" id="averageRatings" name="averageRatings" value="averageRatings" placeholder="Enter Average Ratings " MIN="0"  max="100" >
                    </div>

                    <div class="form-group">
                        <label for="teamStatus">Player Status</label>
                        <select class="form-control" id="teamStatus" name="teamStatus">
                            <% for (let selection of teamStatus) { %>
                            <option value="<%=selection%>"><%=selection%></option>
                            <% } %>
<!--                            <option value="">Select Player Stay</option>-->
<!--                            <option value="Stay">Stay</option>-->
<!--                            <option value="Leave">Leave</option>-->
<!--                            <option value="One year of grace" selected>One year of grace</option>-->
<!--                            <option value="One year of grace">Loan</option>-->
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="fanDecision">Fan Status</label>
                        <select class="form-control" id="fanDecision" name="fanDecision">
                            <% for (let selection of fanDecision) { %>
                            <option value="<%=selection%>"><%=selection%></option>
                            <% } %>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="nominateFanCategory">Nominated Category</label>
                        <select class="form-control" id="nominateFanCategory" name="nominateFanCategory">
                            <% for (let selection of nominateFanCategory) { %>
                            <option value="<%=selection%>"><%=selection%></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fanPerformanceMeter">Fan Performance</label>
                        <input type="range" class="form-control" id="fanPerformanceMeter" name="fanPerformanceMeter"  min="0" max="100">
                    </div>

                        <button style="float: right;" type="submit" class="btn btn-primary" id="btn">Submit</button>

                </form>
                <a href="/players" class="btn btn-danger">Cancel</a>

            </div>
        </div>
    </div>




</body>

</html>