<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><player.name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <style>
        a {
            color: #ec3737;
        }
    </style>
</head>

<body>

<h1><%=player.name %> player profile</h1>

<ul>
    <li>Position: <%= player.position %> </li>
    <li>Average Rating: <%= player.averageRatings %> </li>
    <li>Image: <%= player.image %> </li>
    <li>Decision Stay or Leave : <%= player.stayOrLeave %> </li>
</ul>


<a href="/players">View All United Players</a>
</body>



</html>